#site-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-branding{
        .site-title{
            font-size: 24px;
            a{
                text-decoration: none;
            }
        }
    }
    #site-navigation{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;
            a{
                font-size: 20px;
                text-decoration: none;

                &:hover{
                    padding-bottom: 5px;
                    border-bottom: 1px solid;
                }
            }
        }
    }
}