.single-book {
    border: solid 1px var(--tertiary-color);
    background-color: var(--primary-color);
    color: var(--text-color);

    a {
        color: var(--secondary-color);
        text-decoration: none;

        &:hover {
            color: var(--text-color);
        }
    }

    .book-meta {

        display: flex;
        gap: 20px;

        @media(max-width: 681px) {
            flex-direction: column;
        }

        h1 {
            font-size: 3em;
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-style: normal;

        }

        .book-meta-thubmnail {
            margin: auto;

            img {
                width: 200px;
            }
                    .bookshelf {
            border: solid 1px var(--secondary-color);
            background-color: var(--tertiary-color);
            display: inline-flex; // inline so it flows with text, flex for centering
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 5rem;
            border-radius: 50%;
            padding: 0 0.5rem;

            text-align: center;
            font-size: 16px; // responsive font size between 0.8rem and 1.2rem

            white-space: nowrap; // prevent text from wrapping inside circle
            overflow: hidden;
            text-overflow: ellipsis; // truncate if too long (optional)
            user-select: none; // optional: disable text selection inside badge

                position: absolute;
                    top: 4rem;
                        right: 8px;
                        @media(min-width: 320px) {
                        right: unset;

            }
            a {
                color: var(--text-color);
            }
        }
        }

        .book-meta-data {
            width: 60%;

        }


    }

    .book-description {
        margin: auto;
        margin-top: 2rem;
        max-width: 800px;
    }
}